* {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 100%;
}

.body-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
